table {
   margin-left: auto;
   margin-right: auto;
   padding-top: 100px;
   border-spacing: 10px;
   border-collapse: separate;
}

th {
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

td {
    padding-left: 55px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#start-btn {
    margin-top: 10px;
    margin-left: 650px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: green;
    border-radius: 50px;
}

#pause-btn {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: red;
    border-radius: 50px;
}

#clear-btn {
    margin-top: 40px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: bisque;
    border-radius: 50px;
}

body {
    background-image: url(Countdown.jpg);
}

button {
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: whitesmoke
}

#minus-hr-btn {
    color:whitesmoke;
    background-color: aqua;
    font-size: xxx-large;
    margin-left: 520px;
    border-radius: 50px;
}


#plus-hr-btn {
    color:whitesmoke;
    background-color: aqua;
    font-size: xxx-large;
    margin-left: 30px;
    border-radius: 50px;
}

#minus-min-btn {
    color:whitesmoke;
    background-color: aqua;
    font-size: xxx-large;
    margin-left: 60px;
    border-radius: 50px;
}

#plus-min-btn {
    color:whitesmoke;
    background-color: aqua;
    font-size: xxx-large;
    margin-left: 30px;
    border-radius: 50px;
}

#minus-sec-btn {
    color:whitesmoke;
    background-color: aqua;
    font-size: xxx-large;
    margin-left: 60px;
    border-radius: 50px;
}


#plus-sec-btn {
    color:whitesmoke;
    background-color: aqua;
    font-size: xxx-large;
    margin-left: 30px;
    border-radius: 50px;
}

