body {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: black;
}

table {
    border: 2px solid black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: black;
    margin-left: 600px;
    padding-left: 220px;
    border-color: white;
}

th {
    color: white;
    font-weight: lighter;
}

#digit-input-field {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    border-color: white;
}

.row1-btn {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    height: 70px;
    width: 68px;
    outline-style: initial;
    border-radius: 100px;
    cursor: pointer;
}

.col4-btn {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    height: 70px;
    width: 68px;
    outline-style: initial;
    border-radius: 100px;
    cursor: pointer;
    color: white;
    background-color: orange;
}

.row2-5btn {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    height: 70px;
    width: 68px;
    outline-style: initial;
    border-radius: 100px;
    cursor: pointer;
    color: white;
    background-color: rgb(60,60,60);
}

#zero-btn {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    height: 70px;
    width: 141px;
    outline-style: initial;
    border-radius: 100px;
    cursor: pointer;
    color: white;
    background-color: rgb(60,60,60);
}

button {
    transition: 0.1s;
}

button:active {
    transform: scale(0.94)
}
